<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Jeevan Institute of Yogic Science</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="icon" href="/static/img/favicon.png" type="image/png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
   
    
    <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>


    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="120" >    

    <div id="header">
        <div class="bg-overlay">          
        </div>
        <div class="logo">
            <img src="/static/img/Yoga_logo.png" class="col-md-12 col-xs-8">
        </div>
        <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ion-navicon"></i>
                    </button>
                    <a class="navbar-brand" href="#"><h2>Jeevan Institute of Yogic Science</h2></a>
                </div><!-- navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#header">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#vision">Vision</a></li>
                        <li><a href="#mission">Mission</a></li>
                        <li><a href="#activities">Activities</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!-- container -->
        </div><!-- menu -->

        <div class="center text-right">
            <div class="container">
                <div class="banner">
                    <h1 class="condensed">Mind</h1>
                    <h1 class="condensed">Body</h1>
                    <h1 class="condensed">Spirit</h1>
                </div>
                <div class="subtitle"><h4>Keep calm and do yoga</h4></div>
            </div>
        </div>
        <div class="bottom">
            <div class="text-right container hidden-xs"><a id="scrollDownArrow" href="#"><i class="ion-ios7-arrow-thin-down"></i></a></div>
            <div class="signupForm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="subtitle"><h4>Universal Peace through Dharma and Yoga</h4></div>
                        </div>
                    </div>
                </div><!-- container -->
            </div><!--/signupForm-->
        </div>
    </div>
    <!-- /#header -->



    <div id="about" class="cyan-wrapper">
        <div class="container inner">
            <div class="a_bg">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-wrapper">
                            <p align="justify">Institute of Yogic Science is a division of Bharat Sevak Samaj, National develoment agency, promoted by Govt. of India. It is an integrated yogic science institute which aims teaching and training Yoga at all levels from beginning to advance, including special children and pregnancy yoga classes, teaches the secret of a living tradition the art of deepening, one's practice and mind with renewed Vigor and Vitality. It Promotes Good Health, Yoga Therapy, Yoga Studies, Applied and Literary Research and Outreach. Institute spread out widely to focus on various disease mainly NCD's and ultimately transforms to a divine being through a process of Self-realization</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-wrapper">
                            <img src="/static/img/yoga.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="atg_line">
                            <div class="subtitle"> 
                                <h1 class="blockquote">Touch Life Heal Body and Free Soul</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div><!-- #video -->

    <div id="vision" class="light-wrapper">
        <div class="v_sub_bg">
            <div class="container inner">
                <div class="row story">
                    <div class="col-sm-6">
                    </div>
                
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="col-wrapper">
                        	<div class="v_sub_w_bg">
                                <div class="v_sub_dia_02">
                                    <p><span class="up-caps">B</span>uild up Healthy and Peaceful Human Community and Changing lives by fostering healing and resilience in vulnerable marginalized communities through trauma-informed yoga and healing power of yoga.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- story -->
            </div> <!-- container -->
        </div> <!-- v_sub_bg -->
    </div><!-- #vision -->

	
    <div id="mission" class="light-wrapper">
        <div class="m_bg">
            <div class="container inner">
                <div class="row story">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="col-wrapper mission_divs">
                    
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_1"> 
                                <div class="m_sub_bg_1_a">
                                    To promote healthy and yogic life-style as Home for Yoga
                                </div> 
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_2">
                                <div class="m_sub_bg_2_a">
                                    To offer Yoga, as treatment suffering from any kind of disease
                                </div> 
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_1">
                                <div class="m_sub_bg_1_a">
                                    To be ambassadors of Yoga for Non Communicable Diseases
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_2">
                                <div class="m_sub_bg_2_a">
                                    To teach and train more people in Yogic method
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_1">
                                <div class="m_sub_bg_1_a">
                                    Yoga for children and young people
                                </div>
                            </div>
    						<div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_2">
                                <div class="m_sub_bg_2_a">
                                    To improve medical development and establishment of institutes in Yoga
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_1">
                                <div class="m_sub_bg_1_a">
                                    To establish research wing to study the scientific aspects of Yoga.
                                </div>
                            </div> 
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_2">
                                <div class="m_sub_bg_2_a">
                                    To establish Data analysis Information System for Data collection
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 m_sub_bg_1">
                                <div class="m_sub_bg_1_a">
                                    To foster more sustainable yogic naturopathic by Human Resource Development.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- #mission -->

    <div id="activities" class="grid">
        <figure class="effect-bubba">
            <img src="/static/img/gallery/6.jpg" alt="img01">
            <figcaption>
                <h2>Yoga <span>Therapy</span></h2>
                <p></p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <img src="/static/img/gallery/2_a.jpg" alt="img02" >
            <figcaption>
                <h2>Yoga <span>Class</span></h2>
                <p><br></p>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <img src="/static/img/gallery/4_a.jpg" alt="img07 col-md-12">
            <figcaption>
                <h2>Yoga <span>Courses</span></h2>
                <a href="#">View more</a>
            </figcaption>           
        </figure>
        <figure class="effect-bubba">
            <img src="/static/img/gallery/3.jpg" alt="img04 col-md-12">
            <figcaption>
                <h2>Yoga <span>Clinic</span></h2>
                <p></p>
                <a href="#">View more</a>
            </figcaption>           
 		</figure>
    </div><!-- #activities -->


    <div id="contact" class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">

                    <form id="contactForm">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Message..." required></textarea>
                        </div>
                        <a  class="btn btn-success btn-block submitBtn">Send Message</a>
                        <br>
                    </form>
                </div>  

                <div class="col-sm-6">
                    <div id='gmap_canvas' style='height:400px;width:100%;'></div>
                </div>  
            </div>
        </div>        
    </div>


    <footer id="footer" class="dark-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-4">
                    &copy; Copyright Smartindia Solutions 2016
                </div>
                <div class="col-sm-4">
                    <!--
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
                    -->
                </div>
                <div class="col-sm-4">
                    <div class="social-bar">
                        <a href="#" data-toggle="tooltip" class="ion-social-twitter tooltipped" title="Twitter"></a>
                        <a href="#" data-toggle="tooltip" class="ion-social-youtube tooltipped" title="Youtube"></a>
                        <a href="#" data-toggle="tooltip" class="ion-social-vimeo tooltipped" title="Vimeo"></a>
                        <a href="#" data-toggle="tooltip" class="ion-social-facebook tooltipped" title="Facebook"></a>
                        <a href="#" data-toggle="tooltip" class="ion-social-pinterest tooltipped" title="Pinterest"></a>
                        <a href="#" data-toggle="tooltip" class="ion-social-googleplus tooltipped" title="Google-Plus"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>


    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

    <script src="/static/js/jquery.actual.min.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <script src="/static/js/main.js"></script>

    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(8.5241391,76.93663760000004),mapTypeId: google.maps.MapTypeId.TERRAIN};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(8.5241391,76.93663760000004)});infowindow = new google.maps.InfoWindow({content:'<strong>Jeevan Institute of yogic Science</strong><br>Thiruvananthapuram<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
    </script>

</body>
</html>

